{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center class="mt-5 pt-5">
        {{ current_room }}
        {{ current_room.id }}
        <h2 id="chat-status">Hello,<span style="color: green">{% if not request.user.is_authenticated %} {{ anonym_name }}{% else %}
                {{request.user}} {% endif %}</span>
            someone will join you shortly.</h2>
    </center>
    <br>
    {% if request.user.is_authenticated %}
    {% endif %}

    <div class="row d-flex justify-content-center">
        <div class="chat__item__container col-12" id="id_chat_item_container" style="font-size: 20px">
            <div id="message-window">
                <div id="messages"></div>
            </div>
            <br />
            <div id="send-box" class="row">
                <div class="col-10">
                    <input type="text" id="id_message_send_input" class="form-control" placeholder="Enter message here..." disabled />
                </div>
                <div class="col-2 p-0">
                    <button type="submit" id="id_message_send_button" class="btn btn-success" disabled>Send</button>
                </div>
            </div>
            <a id="leave-chat" href="{% url 'chat:leave_room' room_name %}" class="btn btn-danger my-3">Leave chat</a>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        var name = JSON.parse(document.getElementById('room-name').textContent);
        const roomName = name.replace(/[^A-Z0-9]+/ig, "")
        let joined = false;

        console.log(roomName)
        var wsStart = 'ws://';
        if (window.location.protocol == 'https:') {
            wsStart = 'wss://';
        }
        const chatSocket = new WebSocket(
            wsStart
            + window.location.host
            + '/ws/chat/room/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log(typeof (e));
        };

        document.querySelector("#id_message_send_input").focus();

        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
                "#id_message_send_input"
            ).value;
            if ("{{request.user.username}}") {
                chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
            } else {
                chatSocket.send(JSON.stringify({ message: messageInput, username: "{{room_name}}" }));
            }
        };

        function handleJoined() {
            if (!joined) {
                document.getElementById('chat-status').innerText = `You are connected!`;
                document.querySelector("#id_message_send_input").removeAttribute('disabled');
                document.querySelector("#id_message_send_button").removeAttribute('disabled');
                joined = true;
            }
        }
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.type === 'joined') {
                handleJoined();
            } else {
                var div = document.createElement("div");
                div.classList.add("messages");
                div.innerHTML = data.username + " : " + data.message;
                document.querySelector("#id_message_send_input").value = "";
                document.querySelector("#messages").appendChild(div);
            };
        }
    </script>
{% endblock %}