{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center class="m-5">
        {{ current_room }}
        {{ current_room.id }}
        <h1 id="chat-status" class="text-light">Hello, <span style="color: green">{% if not request.user.is_authenticated %} {{ anonym_name }}{% else %}
                {{request.user}} {% endif %}</span>.
            Someone will join you shortly.</h1>
    </center>
    <br>
    {% if request.user.is_authenticated %}
    <center> Logout the chat Page <a href="">Logout</a></center>
    {% endif %}
    <div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
        <br />
        <input type="text" id="id_message_send_input" disabled />
        <button type="submit" id="id_message_send_button" disabled>Send Message</button>
        <br />
        <br />
        <a id="leave-chat" href="{% url 'chat:leave_room' room_name %}" class="button">Leave chat</a>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        var name = JSON.parse(document.getElementById('room-name').textContent);
        const roomName = name.replace(/[^A-Z0-9]+/ig, "")
        let joined = false;

        console.log(roomName)
        var wsStart = 'ws://';
        if (window.location.protocol == 'https:') {
            wsStart = 'wss://';
        }
        const chatSocket = new WebSocket(
            wsStart
            + window.location.host+':8001'
            + '/ws/chat/room/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log(typeof (e));
        };

        document.querySelector("#id_message_send_input").focus();

        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
                "#id_message_send_input"
            ).value;
            if ("{{request.user.username}}") {
                chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
            } else {
                chatSocket.send(JSON.stringify({ message: messageInput, username: "{{room_name}}" }));
            }
        };

        function handleJoined() {
            if (!joined) {
                document.getElementById('chat-status').innerText = `You are connected!`;
                document.querySelector("#id_message_send_input").removeAttribute('disabled');
                document.querySelector("#id_message_send_button").removeAttribute('disabled');
                joined = true;
            }
        }
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.type === 'joined') {
                handleJoined();
            } else {
                var div = document.createElement("div");
                div.innerHTML = data.username + " : " + data.message;
                document.querySelector("#id_message_send_input").value = "";
                document.querySelector("#id_chat_item_container").appendChild(div);
            };
        }
    </script>
{% endblock %}