{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="m-5">
    <div class="container p-5"></div>
    <h2>Open rooms</h2>
    {% if not open_rooms %}
    <p class="text-white">No one is waiting</p>
    {% else %}
    {% for room in open_rooms %}
    <p class="text-light">{{ room.chat_room_name }} | <a href="../{{room.chat_room_url }}">Click
            to
            join</a>
    </p>
    {% endfor %}
    {% endif %}
    </div>
</section>

<script type="text/javascript">
    setTimeout(function () {
        location.reload();
    }, 60 * 100);
</script>

{% endblock %}