{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mt-5">
    <div class="m-5">
        {% if request.user.is_authenticated %}
        <h2 class="mt-5">Hi {{ request.user }}</h>
        <input id="room-name-input" type="text" value="{{ request.user }}" hidden>
        {% else %}

        <h2 class="mt-5">Need to talk to someone?</h2>
        <p>None of your details are stored, and your chat with us is completely anonymous and confidential!</p>
        <label>What should we call you? (Id you document enter anything you will assigned a random number)</label>
        <br>
        <input class="my-2 border rounded" id="room-name-input" type="text" size="50" placeholder="Name/Alias..." required><br>
        {% endif %}
        <input id="room-name-submit" class="btn btn-success" type="button" value="Enter" required>
    </div>
</section>


<!-- Chatbot script -->
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-input').addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
            event.target.setCustomValidity('Please tell us how we should address you.');
        }
    })

    document.querySelector('#room-name-input').addEventListener('change', function (event) {
        event.target.setCustomValidity('');
    })

    function generate_suffix(_len) {
        return Array.from({
            length: _len
        }, () => Math.floor(Math.random() * 10));
    }

    document.querySelector('#room-name-submit').onclick = function (e) {

        var suffix = generate_suffix(4)
        var suffix_str = suffix.toString()
        var roomName = document.querySelector
            ('#room-name-input').value + suffix_str.replaceAll(",", "");
        if (roomName) {

            window.location.pathname = '/chat/room/' + roomName + '/';
        } else {

        }
    };
</script>
{% endblock %}