{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-container">
    <img id="hero-image" src="{% static 'images/hero.webp' %}" alt="Hero image">
    <div class="call-to-action-container row">
        <div class="col-12 text-center">
            <h2 class="hero-text mb-3">Mental health? We got you man!</h2>
        </div>
        <div class="col-12 text-center">
            {% if user.is_authenticated %}
            <a href="{% url 'chat:lobby' %}" class="btn btn-success">Chat to us now!</a>
            {% else %}
            <a href="{% url 'chat:index' %}" class="btn btn-success">Chat to us now!</a>
            {% endif %}
        </div>
        <div class="col-12 text-center mt-5">
            <a href="#content-section" class="fs-1 text-white btn"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
    </div>
</div>

<section class="mx-3" id="content-section">
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <img class="content-image" src="{% static 'images/chatagent.webp' %}" alt="Chat image">
        </div>
        <div class="col-12 col-md-6 text-center text-white mt-3 d-flex align-items-center">
            <div class="my-auto">
                <p class="fs-5">Mindful Gents offers a discreet and confidential chat service designed to support the 75% of men who may find it challenging to discuss their mental health with friends or family. Our professional volunteers are available to lend a compassionate ear, providing a safe space for open conversations. Utilise our anonymous chat function to express your thoughts and feelings without judgment or disclosure. Your well-being matters, and at Mindful Gents, we're committed to fostering a supportive community for men seeking assistance in navigating their mental health journey. Reach out today; your conversations are held in the strictest confidence.</p>
                
                {% if user.is_authenticated %}
                <a href="{% url 'chat:lobby' %}" class="btn btn-success">Chat to us now!</a>
                {% else %}
                <a href="{% url 'chat:index' %}" class="btn btn-success">Chat to us now!</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-md-6 order-md-2">
            <img class="content-image" src="{% static 'images/infoservices.webp' %}" alt="Info image">
        </div>
        <div class="col-12 col-md-6 text-center text-white mt-3 d-flex align-items-center">
            <div class="my-auto">
                <p class="fs-5">
                    Mindful Gents extends support beyond chat services with two additional pillars. Our 'Information Hub' serves as a valuable resource, offering essential information, insightful statistics, and even a complimentary mental health plan from the NHS in collaboration with the Department of Health and Social Care. This comprehensive repository empowers individuals with knowledge to navigate their mental health journey.
                </p>
                <a href="{% url 'information' %}" class="btn btn-secondary mb-5">Information Hub</a>
                <p class="fs-5">
                    Additionally, our Crisis Services guide individuals in times of acute mental health crisis, providing a roadmap to vital resources. Mindful Gents is committed to fostering a holistic approach, ensuring men have access to a spectrum of support services tailored to their unique needs.
                </p>
                <a href="{% url 'crisis' %}" class="btn btn-primary">Crisis Services</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}