{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-container">
    <img id="hero-image" src="{% static 'images/hero.webp' %}" alt="Hero image">
    <div class="call-to-action-container row">
        <div class="col-12 text-center">
            <h2 class="hero-text mb-3">Mental health? We got you man!</h2>
        </div>
        <div class="col-12 text-center">
            <a class="call-to-action btn btn-success mx-auto">Chat to us</a>
        </div>
        <div class="col-12 text-center mt-5">
            <a href="#content-section"class="fs-1 text-white btn"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
    </div>
</div>

<section class="mx-3 mb-3" id="content-section">
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <img class="content-image" src="{% static 'images/hero.webp' %}" alt="Hero image">
        </div>
        <div class="col-12 col-md-6 text-center text-white mt-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, doloribus quia quos voluptate atque suscipit in! 
                Neque sequi exercitationem ut voluptatem quidem, numquam similique soluta voluptas, porro aspernatur perspiciatis! Aliquid?</p>
            <a class="btn btn-success">Chat to us</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 order-md-2">
            <img class="content-image" src="{% static 'images/hero.webp' %}" alt="Hero image">
        </div>
        <div class="col-12 col-md-6 text-center text-white mt-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, doloribus quia quos voluptate atque suscipit in! 
                Neque sequi exercitationem ut voluptatem quidem, numquam similique soluta voluptas, porro aspernatur perspiciatis! Aliquid?</p>
            <a class="btn btn-success">Chat to us</a>
        </div>
    </div>
</section>

{% endblock %}