{% extends 'base.html' %} {% load static %} {% block content %}

<h2 class="text-center mt-5 pt-5">Information Hub</h2>

<div class="row">
    <div>
        <h4 class="ps-3">Try the NHS 'Your Mind Plan'</h4>
        <p class="ps-3 mt-2">
            Your Mind Plan offers practical ideas and advice to help you boost and maintain your mental wellbeing. Answer the quick 5-question quiz and the Every Mind Matters widget will give you 5 tailored actions to help you feel more in control, improve your sleep, deal with stress and anxiety, and boost your mood – as well as the option to easily swap any actions and to save the whole plan via email.
            <br>
            <a id="nhs-button" class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Try it now!
            </a>
        </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body nhs-tool">
                <!--NHS tool start-->
                <div id="yourMindPlanQuiz" data-site-id="" data-syndication-id="19236290-895c-11ee-9aa4-59da1ebbf87f"></div><script src="https://digitalcampaignsstorage.blob.core.windows.net/mental-health-tool/production/deploy/public/static/js/main.js"></script>
                <!--NHS tool end-->
            </div>
          </div>
    </div>
</div>

<h4 class="ps-3 mt-4">Stats and Information</h4>

<div class="row mt-2 px-3">
    <div class="col-12 col-lg-5">
        <p class="text-white">
            In a poignant revelation, only 1 in 4 men feel comfortable discussing their stress with friends and family. This statistic sheds light on the prevailing challenges men face in expressing vulnerability and seeking support during difficult times. It emphasizes the pressing need to cultivate an environment that fosters open communication without judgment. To address this issue, we extend a heartfelt call to action: our website provides a safe space for men to talk to volunteer professionals anonymously. By engaging with our dedicated team, individuals can share their concerns, fears, and stresses without fear of stigma or repercussions. Let's dismantle the barriers that hinder honest conversations and collectively work towards a more compassionate and understanding society. Together, we can make a difference in men's mental health and well-being.
            <br>
            <br>
            <small class=" \text-white">image credit: <a href="https://www.ccscounselling.org.uk/" target="_blank">https://www.ccscounselling.org.uk/</a></small>
        </p>
    </div>
    <div class="col-12 col-lg-7">
        <img class="content-image" src="{% static 'images/1in4men.webp' %}" alt="1 in 3 men image">
    </div>
</div>
<hr />

<div class="row px-3">
    <div class="col-12 col-lg-7">
        <img class="content-image" src="{% static 'images/1in3men.webp' %}" alt="1 in 3 men image">
    </div>
    <div class="col-12 col-lg-5">
        <p class="text-white">
            A stark reality has emerged from recent statistics: 1 in 3 men in the UK has grappled with suicidal thoughts. This alarming revelation underscores the pervasive impact of mental health challenges on a significant segment of the male population. The statistic highlights the need for intensified efforts in mental health awareness, breaking down stereotypes, and fostering open conversations. Societal expectations and persistent stigmas surrounding mental health often contribute to a culture of silence. Encouraging men to share their experiences without judgment and challenging traditional notions of masculinity are crucial steps. By addressing the root causes and creating a supportive, empathetic society, we can collectively work towards reducing the prevalence of suicidal thoughts and prioritizing mental well-being for everyone.
            <br>
            <br>
            <small class=" \text-white">image credit: <a href="https://www.ccscounselling.org.uk/" target="_blank">https://www.ccscounselling.org.uk/</small></a></small>
        </p>
    </div>
</div>
<hr />

<div class="row px-3 mb-3">
    <div class="col-11 col-md-8 mx-auto">
        <img class="content-image" src="{% static 'images/didyouknow.webp' %}" alt="Did you know image">
        <small class="text-white">image credit:<a href="https://www.kidderminster.ac.uk/" target="_blank">https://www.kidderminster.ac.uk/</a></small>
    </div>
</div>
<hr/>

<div class="row px-3 mb-3">
    <div class="col-11 col-md-8 mx-auto">
        <img class="content-image" src="{% static 'images/myths.webp' %}" alt="Myths and facts image">
        <small class="text-white">image credit:<a href="https://www.kidderminster.ac.uk/" target="_blank">https://www.kidderminster.ac.uk/</a></small>
    </div>
</div>
<hr/>

<div class="row px-3 mb-3">
    <div class="col-11 col-md-8 mx-auto">
        <img class="content-image" src="{% static 'images/improve.webp' %}" alt="Improve image">
        <small class="text-white">image credit:<a href="https://www.kidderminster.ac.uk/" target="_blank">https://www.kidderminster.ac.uk/</a></small>
    </div>
</div>
<hr/>

<div class="row px-3 mb-5">
    <div class="col-11 col-md-8 mx-auto">
        <img class="content-image" src="{% static 'images/signs.webp' %}" alt="Signs image">
        <small class="text-white">image credit:<a href="https://www.kidderminster.ac.uk/" target="_blank">https://www.kidderminster.ac.uk/</a></small>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('nhs-button').addEventListener('click', function() {
            let buttonText = this.textContent;
            this.textContent = buttonText === 'Minimize' ? 'Try it now!' : 'Minimize';
        });
    </script>
{% endblock %}
