{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h1>
         If you are feeling like ending your life or feel unable to keep yourself safe,
         please call 999 or go to A&E and ask for the contact of the nearest crisis resolution team. 
         we have a team of mental health care professionals who work with people in severe distress.
         If you feel affected by the content you are about to read, feel free to have a confidential 
         chat with a member of our team.
    </h1>
</div>

<div class="information-hub">
<h2>
    Why don’t men talk about mental health?
    Is depression different for men?
    Suicide and men
    What can I do if I’m worried about my mental health?
    I’m worried about someone’s mental health. How can I help them?
</h2>
<p>
    As with many mental health statistics, it’s hard to know if the figures really represent what is happening.
    They can only tell us about mental health problems that have been reported – many cases may go undiagnosed.
    This may be especially true when it comes to men’s mental health.
</p>
</div>
<div  class="information-hub">
    <h2>
        Other signs might give us a better picture of the state of men’s mental health:
    </h2>
<p>
   Three times as many men as women die by suicide
   Men aged 40 to 49 have the highest suicide rates in the UK
   At times during the coronavirus (COVID-19 pandemic), females experienced lower life satisfaction and happiness than males, 
   which differs from pre-coronavirus pandemic analysis, as seen in our Personal well-being in the UK: October 2016 to September 2017 bulletin.
   Men are less likely to access psychological therapies than women: only 36% of referrals to NHS talking therapies are for men
   In addition, men are far more likely than women to go missing, sleep rough, become dependent on alcohol and use drugs frequently. 
   Find out more about how mental health problems affect men and women differently.
</p>
</div>



{% endblock %}
